body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-style: sans-serif;
}

.navbar a {
    float: left;
    display: block;
    color: white ;
    text-align: center;
    line-height: 100px;
    width: 33.33333%;
    height: 100px;
    text-decoration: none;
    font-size: 30px;   
}

.navbar #scheduleId:hover {
    background-image: url("https://www.suzukacircuit.jp/f1_en/images/top_main_dummy.jpg");
    animation: schedule 3s linear 0s 1 normal forwards;
    
}

.navbar #driversId:hover {
    background-image: url("https://cdn.cnn.com/cnnnext/dam/assets/191027211727-lewis-hamilton-mexico-grand-prix-exlarge-169.jpg");
    animation: drivers 3s linear 0s 1 normal forwards;
}

.navbar #constructorsId:hover {
    background-image: url("https://inmotion.dhl/uploads/content/2019/01_Motorsports/01_Formula_1/Page/FPS_SEOv2.png");
    animation: constructors 3s linear 0s 1 normal forwards;
}

.navbar a:hover {
    background-color: white;
    color: white;
    
}

@keyframes schedule {
    0% {background-size: 560px 180px; }
    100% {background-size: 510px 100px;}
}


@keyframes drivers {
    0% {background-size: 600px 140px; }
    100% {background-size: 550px 100px}
}

@keyframes constructors {
    0% {background-size: 580px 140px;}
    100% {background-size: 540px 100px;}
}

.navbar a.active {
    background-color: red;
    color: white;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

  
}